body {
  font-family: Roboto;
  line-height: 1.5;
}

.icon {
  font-family: Material Icons;
  margin-right: 5px;
  font-style: normal;
}

.icon--24 {
  font-size: 24px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid black;
  position: absolute;
  background: white;
  left: -8px;
}

.ResumeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Resume {
  width: 595px;
  height: 842px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.ResumeContent {
  display: flex;
  flex: 1 0 auto;
}

.Header {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
  border-bottom: 1px solid black;
  padding: 5px;
}

.Photo {
  height: 70px;
  width: 70px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 50px;
  transform: rotate(3deg);
}

.Side {
  flex: 0 0 30%;
  padding: 0 10px;
  background: #E4E4E4;
}

.flex {
  display: flex;
  align-items: center;
}

.EmailPhone {
  font-size: 11px;
  padding-top: 0;
  font-weight: normal;
}

.EmailPhone > * {
  padding: 3px 0;
}

.Title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 5px 3px 5px;
}

.Name {
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: bold;
  padding: 0 8px;
}

.SubTitle {
  font-size: 16px;
  padding: 0 10px;
}

.SideHeading {
  font-family: "Roboto Slab";
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding: 2px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.About {
  font-weight: normal;
  font-size: 10px;
  padding: 0 10px;
}

.Main {
  padding: 10px 10px 0 10px;
}

.Heading {
  font-family: "Roboto Slab";
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: black;
  padding: 3px 0;
  background: #E4E4E4;
  padding-left: 30px;
  margin-left: 10px;
  position: relative;
  border-radius: 10px;
}

.Timeline {
  margin: 10px 0 10px 20px;
  border-left: 2px  solid gray;
  font-size: 12px;
}

.TimelineItem {
  padding: 8px;
  position: relative;
}

.TimelineItem:before {
  content: "";
  position: absolute;
  top: 11px;
  left: -6px;
  height: 6px;
  width: 6px;
  border: 2px solid gray;
  background: white;
  border-radius: 6px;
}

.TimelineTitle {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.Role {
  font-size: 12px;
  color: #404040;
}

.Role::after {
  content: " ";
  white-space: pre;
}

.Duration {
  font-size: 12px;
  color: #404040;
}

.LogoContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.LogoContainer img {
  height: 30px;
  width: auto;
  margin: 3px;
}

.TechnicalSkill {
  padding: 10px 0;
}

.Education {
  font-size: 11px;
  font-weight: normal;
}

.Skill {
  font-size: 11px;
  padding: 2px 5px;
  margin: 2px;
  display: inline-block;
  background: #404040;
  border-radius: 4px;
  color: white;
}

.Skill *:first-child {
  flex: 0 1 50%;
}

.Skill .icon {
  font-size: 8px;
}

.Description {
  font-size: 11px;
  padding-left: 20px;
  margin: 10px 0 0 0;
}

.SimpleLink {
  color: black;
  text-decoration: none;
}

.Experience, .Achievements {
  padding: 10px;
  font-size: 10px;
}

.ExperienceTitle {
  font-size: 12px;
  display: inline-block;
  padding: 5px 0;
  text-decoration: underline;
}

.ExperienceDuration, .CourseDuration {
  color: #404040;
  font-size: 9px;
}

.ExperienceDuration::before {
  content: " ";
  white-space: pre;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .Resume, .Resume * {
    visibility: visible;
    -webkit-print-color-adjust: exact;
  }
  .Resume {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    padding: 0;
    margin: 0;
  }
}