.ResumeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.Resume {
  width: 595px;
  height: 842px;
  border: 2px solid black;
  display: flex;
}

.Side {
  background: black;
  color:  white;
  flex: 0 0 30%;
  padding: 0 10px;
}
.Title {
  font-weight: bold;
  font-size: 20px;
  padding: 3px 5px;
}

.SubTitle {
  font-size: 12px;
}

.About {
  padding: 3px 5px;
  font-size: 10px;
}

.Main {
  padding: 10px;
}

.Heading {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background: black;
  color: white;
  border-radius: 10px;
  padding: 2px 0;
}